.boxRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameBoard {
    margin: 0px auto;
    width: fit-content;
}

Box:nth-child(1), Box:nth-child(3), Box:nth-child(6)  {
    margin-left: 0px;
}